<h2 align="center">Registrate</h2>
<div align="center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field text-info">
    <%= f.label :email, :class => 'texto_resaltado'  %><br />
    <%= f.email_field :email, autofocus: true,  :class => 'text-info'  %>
  </div>

  <div class="field">
    <%= f.label :password , "Contraseña"%>
    <% if @minimum_password_length %>
    <em>(Minimo <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off"    %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation,  :class => 'text-info'  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrate" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>