<p id="notice"><%= notice %></p>

<p>
  <strong>Fechasolicitada:</strong>
  <%= @compra.fechaSolicitada %>
</p>

<p>
  <strong>Pagada:</strong>
  <%= @compra.pagada %>
</p>

<p>
  <strong>Preciototal:</strong>
  <%= @compra.precioTotal %>
</p>

<%= link_to 'Edit', edit_compra_path(@compra) %> |
<%= link_to 'Back', compras_path %>
