<%  @articles.each do |producto| %>
<div class="new-product">
	<div class="col-md-5 zoom-grid">
		<div class="flexslider">
			<ul class="slides">
			<%= image_tag producto.imagen%>
			</ul>
		</div>
	</div>
	<div class="col-md-7 dress-info">
		<div class="dress-name">
				<h3><%=producto.referencia%></h3>
				<span>$<%=producto.precio%></span>
			<a href="#">Comprar Ahora</a>
		</di	<p><%=producto.descripcion%></p>
			</div>
		<div class="span span3">
				<p class="left">COLOR</p>
				<p class="right"><%=producto.color%></p>
		</div>
		<div class="purchase">
			v>
	</div>
</div>

<div>
	<%= link_to "Eliminar", producto, method: :delete %>
</div>

<%end%>