<div class="container">
	
	<%= search_form_for @search do |f|%>
		<!--filtro por referencia-->
		<div class="field ">
					
			<%= f.label :tipo_cont, "Buscar por tipo"%>  
			<%= f.text_field :tipo_cont %>
		</div>

		<!--filtro por precio-->
		<div class="field ">
					
			<div style="float:left;"><%= f.label :precio_gteq, "Precio entre"%> </div>
			<div style="float:left;"><%= f.text_field :precio_gteq %></div>
			<div style="float: left;"><%= f.label :precio_lteq, "y"%>  </div>
			<div style="float: left;"><%= f.text_field :precio_lteq %></div>
			
		</div>

		<div class="actions">
			<%= f.submit "Buscar"%>
		</div>		
	<%end%>
	
</div>



<div class="container">
	<%@articles.each do |product| %>
	<div class="col-md-4 product simpleCart_shelfItem text-center">			
			<div class="flexslider">
				<ul class="slides">
				<%= image_tag product.cover.url()%>
				</ul>
			</div>
			<div class="mask">
				<%= link_to "Vista Rápida", product %>
			</div>
			<div>
				<p><a class="product_name" href="single.html"><%=product.referencia%></a></p>
			</div>
			<p><a class="item_add" href="#"><i></i> <span class="item_price">$<%=product.precio%></span></a></p>
			<p><a href="/cart/<%= product.id %>">Adicionar al carrito</a></p>
	</div>

<%end%>	
</div>
<br>

