<div class="container">
	<div class="products">
				<div class="product-listy">
					<h2>Nuestros Productos</h2>
					<ul class="product-list">
						<li><a href="">Nuevos Productos</a></li>
						<li><a href="">Antiguos Productos</a></li>
						<li><a href="">Gafas</a></li>
						<li><a href="">Relojes</a></li>
						<li><a href="">Pulseras</a></li>
						<li><a href="">Aretes</a></li>
						<li><a href="#">Collares</a></li>
						
					</ul>
				</div>
				<!--
				<div class="latest-bis">
					<img src="images/l4.jpg" class="img-responsive" alt="" />
					<div class="offer">
						<p>40%</p>
						<small>Top Offer</small>
					</div>
				</div>
				--> 	
				<div class="tags">
				    	<h4 class="tag_head">Etiquetas</h4>
				         <ul class="tags_links">
							<li><a href="#">Estilo</a></li>
							<li><a href="#">Super</a></li>
							<li><a href="#">Duper</a></li>
							<li><a href="#">Tema</a></li>
							<li><a href="#">Hombre</a></li>
							<li><a href="#">Mujer</a></li>
							<li><a href="#">Equipo</a></li>
							<li><a href="#">Mejor</a></li>
							<li><a href="#">Accesorios</a></li>
							
							<li><a href="#">Usar</a></li>
							<li><a href="#">Super</a></li>
							<li><a href="#">Moda</a></li>
							
							<li><a href="#">Responsive</a></li>
					        
							
						</ul>
					
				     </div>

			</div>

<div class="new-product">
				<div class="col-md-5 zoom-grid">
					<div class="flexslider">
						<ul class="slides">
						<%= image_tag @producto.cover.url(), :class => "zoom"%>
 
						</ul>
					</div>
				</div>
				<div class="col-md-7 dress-info">
					<div class="dress-name">
						<h3><%=@producto.referencia%></h3>
						<span>$<%=@producto.precio%></span>
						<div class="clearfix"></div>
						
						<p><%=@producto.descripcion%></p>
						
					</div>
					
					<div class="span span2">
						<p class="left">HECHO EN</p>
						<p class="right">Colombia</p>
						<div class="clearfix"></div>
					</div>
					<div class="span span3">
						<p class="left">COLOR</p>
						<p class="right"><%=@producto.color%></p>
						<div class="clearfix"></div>
					</div>
					<div class="span span4">
						<p class="left">TAMAÑO</p>
						<p class="right"><span class="selection-box"><select class="domains valid" name="domains">
										   <option>Mediano</option>
										   <option>Grande</option>
										   <option>Extra Grande</option>
										   <option>Pequeño</option>
										   <option>Muy Pequeño</option>
									   </select></span></p>
						<div class="clearfix"></div>
					</div>
					<div class="purchase">
						<p><a href="/cart/<%= @producto.id %>">Adicionar al carrito</a></p>
						<%= link_to "Eliminar", @producto, method: :delete %>
						<%= link_to "Editar", edit_producto_path(@producto) %>
						<%= link_to "nuevo", new_producto_path %>
						<div class="clearfix"></div>
					</div>
				
				<%= render "comments/form" %>
				<h2>Comentarios </h2>
					<ul>
					<% @producto.comments.each do |comment| %>
					<li>
						<%= comment.body %> - <%= comment.user.email %> 
					</li>

				<%end%>
				</ul>
				</div>
				<div class="clearfix"></div>
					<div class="reviews-tabs">
      <!-- Main component for a primary marketing message or call to action -->
        			</div>
			</div>
			
	
</div>