<div class="new-product">
				<div class="col-md-5 zoom-grid">
					<div class="flexslider">
						<ul class="slides">
						<%= image_tag @producto.imagen%>
						<!--	
							<li data-thumb= "<%= image_tag @producto.imagen%>" >
								<div class="thumb-image"> <img src="<%= image_tag @producto.imagen%>" data-imagezoom="true" class="img-responsive" alt="" /> </div>
							</li>
							<li data-thumb="images/si1.jpg">
								<div class="thumb-image"> <img src="images/si1.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
							</li>
							<li data-thumb="images/si2.jpg">
							<div class="thumb-image"> <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive" alt="" /> </div>
							</li> 
						-->
						</ul>
					</div>
				</div>
				<div class="col-md-7 dress-info">
					<div class="dress-name">
						<h3><%=@producto.referencia%></h3>
						<span>$<%=@producto.precio%></span>
						<div class="clearfix"></div>
						
						<p><%=@producto.descripcion%></p>
						
					</div>
					
					<div class="span span2">
						<p class="left">HECHO EN</p>
						<p class="right">Colombia</p>
						<div class="clearfix"></div>
					</div>
					<div class="span span3">
						<p class="left">COLOR</p>
						<p class="right"><%=@producto.color%></p>
						<div class="clearfix"></div>
					</div>
					<div class="span span4">
						<p class="left">TAMAÑO</p>
						<p class="right"><span class="selection-box"><select class="domains valid" name="domains">
										   <option>Mediano</option>
										   <option>Grande</option>
										   <option>Extra Grande</option>
										   <option>Pequeño</option>
										   <option>Muy Pequeño</option>
									   </select></span></p>
						<div class="clearfix"></div>
					</div>
					<div class="purchase">
						<a href="#">Comprar Ahora</a>
						<div class="social-icons">
							<ul>
								<li><a class="facebook1" href="#"></a></li>
								<li><a class="twitter1" href="#"></a></li>
								<li><a class="googleplus1" href="#"></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
				<script src="js/imagezoom.js"></script>
					<!-- FlexSlider -->
					<script defer src="js/jquery.flexslider.js"></script>
					<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
					</script>
				</div>
				<div class="clearfix"></div>
					<div class="reviews-tabs">
      <!-- Main component for a primary marketing message or call to action -->
        			</div>

			</div>