<div class="new-product">
				<div class="col-md-5 zoom-grid">
					<div class="flexslider">
						<ul class="slides">
						<%= image_tag @producto.imagen%>
 
						</ul>
					</div>
				</div>
				<div class="col-md-7 dress-info">
					<div class="dress-name">
						<h3><%=@producto.referencia%></h3>
						<span>$<%=@producto.precio%></span>
						<div class="clearfix"></div>
						
						<p><%=@producto.descripcion%></p>
						
					</div>
					
					<div class="span span2">
						<p class="left">HECHO EN</p>
						<p class="right">Colombia</p>
						<div class="clearfix"></div>
					</div>
					<div class="span span3">
						<p class="left">COLOR</p>
						<p class="right"><%=@producto.color%></p>
						<div class="clearfix"></div>
					</div>
					<div class="span span4">
						<p class="left">TAMAÑO</p>
						<p class="right"><span class="selection-box"><select class="domains valid" name="domains">
										   <option>Mediano</option>
										   <option>Grande</option>
										   <option>Extra Grande</option>
										   <option>Pequeño</option>
										   <option>Muy Pequeño</option>
									   </select></span></p>
						<div class="clearfix"></div>
					</div>
					<div class="purchase">
						<a href="#">Comprar Ahora</a>
						<%= link_to "Eliminar", @producto, method: :delete %>
						<%= link_to "Editar", edit_producto_path(@producto) %>
						<div class="clearfix"></div>
					</div>
				<script src="js/imagezoom.js"></script>
					<!-- FlexSlider -->
					<script defer src="js/jquery.flexslider.js"></script>
					<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
					</script>
				</div>
				<div class="clearfix"></div>
					<div class="reviews-tabs">
      <!-- Main component for a primary marketing message or call to action -->
        			</div>

			</div>