<!DOCTYPE html>
<html>
  <head>
    <title>Mirandum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- header-section-starts -->

	<div class="header">
		<div class="header-top-strip">
			<div class="container">
				<div class="header-top-left">
					<ul>
						<% if user_signed_in? %>
						<li>
							<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete%>
						</li>
						<%else%>
						<li>
							<%= link_to "Iniciar sesión", new_user_session_path%>
						</li>
						<li>
							<%= link_to "Crear cuenta", new_user_registration_path%>
						</li>
						<%end%>

					</ul>
				</div>
				<div class="header-right">
						<div class="cart box_1">
							<a href="checkout.html">
								<h3> <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)<img src="../assets/images/bag.png" alt=""></h3>
							</a>	
							<p><a class="simpleCart_empty"> Vaciar Carrito</a></p>
							<div class="clearfix"> </div>
						</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
<div class="banner-top">
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		    <div class="navbar-header">
		        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Menu</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>
					<div class="logo">
						<h1><a href="/">Mirandum</a></h1>
					</div>
		    </div>
	    <!--/.navbar-header-->
	
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <ul class="nav navbar-nav">
			<li><%= link_to "Inicio", root_path %></li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hombres <b class="caret"></b></a>
		            <ul class="dropdown-menu multi-column columns-3">
			            <div class="row">
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<!--Items de Hombre-->
					            </ul>
				            </div>
				            
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>Relojes</h6>
						            <!--Tipos Relojes-->
					            </ul>
				            </div>
							<div class="clearfix"></div>
			            </div>
		            </ul>
		        </li>
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mujer <b class="caret"></b></a>
		            <ul class="dropdown-menu multi-column columns-3">
			            <div class="row">
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<!--Items Mujer-->
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>Joyas</h6>
						            <!--Tipos Joyas-->
					            </ul>
				            </div>
				            <div class="col-sm-4">
					            <ul class="multi-column-dropdown">
									<h6>Relojes</h6>
						            <!--Tipos Relojes Mujer-->
					            </ul>
				            </div>
							<div class="clearfix"></div>
			            </div>
		            </ul>
		        </li>
		        <li class="dropdown">
		        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Niños <b class="caret"></b></a>
		            <ul class="dropdown-menu multi-column columns-2">
			            <div class="row">
				            <div class="col-sm-6">
					            <ul class="multi-column-dropdown">
									<!--Items niños-->					            
								</ul>
				            </div>
				            <div class="col-sm-6">
					             <ul class="multi-column-dropdown">
									<h6>Accesorios</h6>
						            <!--Tipos accesorios niños-->
					            </ul>
				            </div>
							<div class="clearfix"></div>
			            </div>
		            </ul>
		        </li>
					
					<li><a href="/contacto">Contacto</a></li>
					
	        </ul>
	    </div>
	    <!--/.navbar-collapse-->
	</nav>
	<!--/.navbar-->
</div>
</div>


  	<h2 class="notice"><%=notice %></h2>
  	<h2 class="alert"><%=alert%></h2>

<!-- Contenido de la pagina -->

    <%= yield %>

<!-- Fin contenido de la pagina -->



    		<div class="news-letter">
			<div class="container">
				<div class="join">
					<h6>Unete a nuestra lista de correos</h6>
					<div class="sub-left-right">
						<form>
							<input type="text" value="Escribe tu Email aquí" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Escribe tu Email aquí';}" /><input class="btn" type="submit" value="Suscribirse" />
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="footer">
		<div class="container">
		 <div class="footer_top">
			<div class="span_of_4">
				<div class="col-md-3 span1_of_4">
					<h4>Tienda</h4>
					<ul class="f_nav">
						<li><a href="#">nuevos productos</a></li>
						<li><a href="#">hombre</a></li>
						<li><a href="#">mujer</a></li>
						<li><a href="#">accesorios</a></li>
						<li><a href="#">niños</a></li>
						<li><a href="#">marcas</a></li>
						<li><a href="#">tendencias</a></li>
						<li><a href="#">centa</a></li>
						
					</ul>	
				</div>
				<div class="col-md-3 span1_of_4">
					<h4>Ayuda</h4>
					<ul class="f_nav">
						<li><a href="#">preguntas frecuentes</a></li>
						<li><a href="#">hombre</a></li>
						<li><a href="#">mujer</a></li>
						<li><a href="#">accesorios</a></li>
						<li><a href="#">niños</a></li>
						<li><a href="#">tendencias</a></li>
					</ul>	
				</div>
				<div class="col-md-3 span1_of_4">
					<h4>Cuenta</h4>
					<ul class="f_nav">
						<li><a href="account.html">login1111</a></li>
						
						<li><a href="#">crear lista de deseos</a></li>
						<li><a href="checkout.html">mi bolsa de compra</a></li>
						
						
					</ul>				
				</div>
				<div class="col-md-3 span1_of_4">
					<h4>Popular</h4>
					<ul class="f_nav">
						<li><a href="#">nuevos productos</a></li>
						<li><a href="#">hombre</a></li>
						<li><a href="#">mujer</a></li>
						<li><a href="#">accesorios</a></li>
						<li><a href="#">niños</a></li>
						<li><a href="#">marcas</a></li>
						<li><a href="#">tendencias</a></li>
						<li><a href="#">venta</a></li>
						
						<li><a href="#">login222222</a></li>
						
					</ul>			
				</div>
				<div class="clearfix"></div>
				</div>
		  </div>
		  <div class="cards text-center">
				<img src="images/cards.jpg" alt="" />
		  </div>
		  <div class="copyright text-center">
				<p>© 2016 Mirandum. All Rights Reserved </p>
		  </div>
		</div>
		</div>

<script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager:true,
			        nav:false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
</script>
  </body>
</html>
